@charset "UTF-8";
/* ----------------- Libraries
----------------------------------------------------------------------- */
/* ----------------- Reset
----------------------------------------------------------------------- */
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* ----------------- Variables
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- Mixins style
----------------------------------------------------------------------- */
/* @import "sprites.png";
@mixin sprite-css($name) {
    @include sprites-sprite($name);
    height: sprites-sprite-height($name);
    width: sprites-sprite-width($name);
    display: inline-block;
} */
/*----------  vertical align
------------------------------------------------------------------------------*/
/* @mixin vertical-align {
    position: relative;
    top: 50%;
    @include translate(0, -50%);
} */
/*----------  Text Overflow
------------------------------------------------------------------------------*/
/*---------- horizontal align
------------------------------------------------------------------------------*/
/* @mixin horizontal-align {
    position: relative;
    left: 50%;
    @include translate(-50%, 0);
} */
/*----------  box-sizing
------------------------------------------------------------------------------*/
/*----------  appearance
------------------------------------------------------------------------------*/
/* ----------------- Media queris
----------------------------------------------------------------------- */
/* ----------------- next mixin
----------------------------------------------------------------------- */
/* ----------------- Helpers
----------------------------------------------------------------------- */
/* ----------------- IE
----------------------------------------------------------------------- */
/* ----------------- Base
----------------------------------------------------------------------- */
/* ----------------- layout 
----------------------------------------------------------------------- */
.wrapper {
  max-width: 960px;
  margin: 0 auto; }

/* ----------------- Typography
----------------------------------------------------------------------- */
/** Generated by FG **/
@font-face {
  font-family: 'WhitneyBold';
  src: url("fonts/WhitneyNumeric-Bold.eot");
  src: local("☺"), url("fonts/WhitneyNumeric.woff") format("woff"), url("fonts/WhitneyNumeric-Bold.ttf") format("truetype"), url("fonts/WhitneyNumeric-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'WhitneyNumeric-Medium';
  src: url("fonts/WhitneyNumeric-Medium.eot");
  src: local("☺"), url("fonts/WhitneyNumeric-Medium.woff") format("woff"), url("fonts/WhitneyNumeric-Medium.ttf") format("truetype"), url("fonts/WhitneyNumeric-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'WhitneyNumeric-MediumItalic';
  src: url("fonts/WhitneyNumeric-MediumItalic.eot");
  src: local("☺"), url("fonts/WhitneyNumeric-MediumItalic.woff") format("woff"), url("fonts/WhitneyNumeric-MediumItalic.ttf") format("truetype"), url("fonts/WhitneyNumeric-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Whitney-Semibold';
  src: url("fonts/Whitney-Semibold.eot");
  src: local("☺"), url("fonts/Whitney-Semibold.woff") format("woff"), url("fonts/Whitney-Semibold.ttf") format("truetype"), url("fonts/Whitney-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/** Generated by FG **/
@font-face {
  font-family: 'Whitney-Light';
  src: url("fonts/Whitney-Light.eot");
  src: local("☺"), url("fonts/Whitney-Light.woff") format("woff"), url("fonts/Whitney-Light.ttf") format("truetype"), url("fonts/Whitney-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- buttons
----------------------------------------------------------------------- */
/* ----------------- Forms
----------------------------------------------------------------------- */
/* ----------------- Icons
----------------------------------------------------------------------- */
/* ----------------- Partials
----------------------------------------------------------------------- */
/* ----------------- footer
----------------------------------------------------------------------- */
/* ----------------- header
----------------------------------------------------------------------- */
/* ----------------- scss main
----------------------------------------------------------------------- */
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 800px;
  margin: 20px auto; }

body {
  font-family: 'lato-black', sans-serif;
  font-size: 14px;
  font-weight: normal; }

:root {
  --main-color1: orange;
  --main-color2: #e5e5e5;
  --header-color: #bd1934; }

.main {
  display: flex; }
  .main .main__box__left {
    flex: 1;
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    z-index: 9;
    position: relative; }
    .main .main__box__left .header {
      display: flex;
      background: var(--header-color);
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #bd1934; }
      .main .main__box__left .header__item {
        flex: 1; }
        .main .main__box__left .header__item .header__item--link a {
          display: block;
          padding: 10px 0 0 20px; }
          .main .main__box__left .header__item .header__item--link a img {
            width: 65px;
            height: 65px;
            background: #fff; }
        .main .main__box__left .header__item .header__item--create {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-decoration: none;
          color: #fff;
          margin: 0 12px 0 0;
          text-transform: uppercase; }
          .main .main__box__left .header__item .header__item--create .mdi-plus {
            margin: 0 20px 0 0; }
          .main .main__box__left .header__item .header__item--create .mdi-menu-down {
            margin-left: 20px; }
          .main .main__box__left .header__item .header__item--create span {
            cursor: default; }
    .main .main__box__left .nav {
      width: 100%;
      color: #959595; }
      .main .main__box__left .nav ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #cecece;
        position: relative;
        flex-direction: column; }
        .main .main__box__left .nav ul li a {
          display: flex;
          width: 100%;
          align-items: center;
          text-decoration: none;
          padding: 20px;
          color: #959595;
          cursor: pointer;
          justify-content: space-between; }
          .main .main__box__left .nav ul li a span {
            display: flex;
            align-items: center; }
            .main .main__box__left .nav ul li a span .mdi-folder,
            .main .main__box__left .nav ul li a span .mdi-folder-plus {
              color: #959595;
              margin: 0 10px 0 0; }
          .main .main__box__left .nav ul li a span:first-letter {
            text-transform: uppercase; }
        .main .main__box__left .nav ul li a.active {
          background: #fff;
          border-bottom: 1px solid #cecece; }
          .main .main__box__left .nav ul li a.active > span {
            color: #005EBC; }
            .main .main__box__left .nav ul li a.active > span > .cmp_icon--folder {
              transition: all 0.3s ease-in-out;
              color: #005EBC !important;
              transform: rotate(180deg); }
          .main .main__box__left .nav ul li a.active span > .cmp_icon {
            transition: all 0.3s ease-in-out;
            transform: rotate(180deg);
            color: #000; }
        .main .main__box__left .nav ul li .mdi-chevron-down {
          cursor: pointer; }
        .main .main__box__left .nav ul li ul.sub {
          background: #fff;
          z-index: 10;
          width: 100%;
          display: none; }
          .main .main__box__left .nav ul li ul.sub li {
            position: relative; }
            .main .main__box__left .nav ul li ul.sub li a {
              color: #fff;
              padding: 15px 20px;
              color: #3C3D41; }
              .main .main__box__left .nav ul li ul.sub li a .box {
                display: flex;
                width: 100%;
                justify-content: space-between; }
                .main .main__box__left .nav ul li ul.sub li a .box .box_item {
                  flex: 1;
                  display: flex;
                  align-items: center;
                  justify-content: flex-end; }
                  .main .main__box__left .nav ul li ul.sub li a .box .box_item i.mdi.mdi-label-outline.mdi-24px {
                    display: flex; }
                    .main .main__box__left .nav ul li ul.sub li a .box .box_item i.mdi.mdi-label-outline.mdi-24px span {
                      padding: 0 0 0 10px; }
                  .main .main__box__left .nav ul li ul.sub li a .box .box_item .mdi.mdi-plus.mdi-24px {
                    display: flex; }
                  .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left {
                    flex: 1;
                    display: flex; }
                    .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part {
                      flex: 1;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex-direction: column-reverse; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part .icon {
                        -webkit-font-smoothing: antialiased; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part .icon__svg--sprite {
                        width: 24px;
                        height: 24px;
                        fill: #959595; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part span {
                        padding: 0 0 5px 0; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part i.mdi.mdi-chevron-down.mdi-24px {
                        align-self: flex-end; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part .not_active {
                        color: #959595; }
                      .main .main__box__left .nav ul li ul.sub li a .box .box_item .box_item-left .box_item-part:nth-child(1) {
                        flex: 1 1 100%;
                        padding: 0 0 0 45px;
                        color: #959595;
                        display: flex;
                        justify-content: center; }
                  .main .main__box__left .nav ul li ul.sub li a .box .box_item svg.icon {
                    width: 24px;
                    height: 24px;
                    fill: #3C3D41; }
          .main .main__box__left .nav ul li ul.sub li:last-child {
            border-bottom: none; }
        .main .main__box__left .nav ul li .sub li a {
          padding: 20px !important;
          position: relative; }
          .main .main__box__left .nav ul li .sub li a .box_item {
            display: flex;
            flex-direction: row-reverse; }
            .main .main__box__left .nav ul li .sub li a .box_item span {
              white-space: nowrap;
              color: #3C3D41; }
          .main .main__box__left .nav ul li .sub li a .box_item--right {
            justify-content: flex-start !important; }
            .main .main__box__left .nav ul li .sub li a .box_item--right .cmp_icon--arrow {
              margin: 0 5px 0 0;
              color: #959595; }
        .main .main__box__left .nav ul li .sub li .border_bottom-not {
          position: relative; }
          .main .main__box__left .nav ul li .sub li .border_bottom-not:after {
            content: "";
            width: 92%;
            height: 1px;
            background: #cecece;
            position: absolute;
            bottom: 0;
            right: 0; }
        .main .main__box__left .nav ul li .sub li a.active {
          background: #fff;
          border-bottom: 1px solid #cecece; }
          .main .main__box__left .nav ul li .sub li a.active .cmp_icon--rotate {
            transition: all 0.3s ease-in-out;
            color: #005EBC; }
            .main .main__box__left .nav ul li .sub li a.active .cmp_icon--rotate span {
              color: #005EBC; }
          .main .main__box__left .nav ul li .sub li a.active .box_item .box_item-left {
            color: blue; }
            .main .main__box__left .nav ul li .sub li a.active .box_item .box_item-left .box_item-part .icon__svg--sprite {
              fill: #005EBC !important; }
            .main .main__box__left .nav ul li .sub li a.active .box_item .box_item-left .box_item-part span {
              color: #005EBC; }
            .main .main__box__left .nav ul li .sub li a.active .box_item .box_item-left .box_item-part .mdi.mdi-chevron-down.mdi-24px.not_active {
              transition: all 0.3s ease-in-out;
              color: #000 !important;
              transform: rotate(180deg); }
        .main .main__box__left .nav ul li .sub li .sub li a .box .box_item span {
          color: #959595;
          padding: 0 0 0 10px; }
        .main .main__box__left .nav ul li .sub li .sub li a .box .box_item .cmp_icon--space {
          margin: 0 10px 0 10px;
          fill: #959595; }
        .main .main__box__left .nav ul li .sub li .sub li .border_bottom-not {
          position: relative; }
          .main .main__box__left .nav ul li .sub li .sub li .border_bottom-not:first-child, .main .main__box__left .nav ul li .sub li .sub li .border_bottom-not:last-child {
            border-bottom: none !important; }
          .main .main__box__left .nav ul li .sub li .sub li .border_bottom-not:after {
            content: "";
            width: 92%;
            height: 1px;
            background: #cecece;
            position: absolute;
            bottom: 0;
            right: 0; }
        .main .main__box__left .nav ul li .sub li .sub li a.active .box .box_item span {
          color: #000; }
        .main .main__box__left .nav ul li .sub li .sub li a.active .box .box_item .cmp_icon--space {
          fill: #005EBC; }
        .main .main__box__left .nav ul li .sub li .sub li a.active .box .box_item .cmp_icon--arrow {
          transition: all 0.3s ease-in-out;
          color: #000 !important;
          transform: rotate(180deg); }

.main__box__right {
  flex: 4;
  background: var(--main-color2); }
  .main__box__right .main__box__right--right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid #cecece;
    padding: 31px 0; }
    .main__box__right .main__box__right--right h2 {
      color: #3C3D41;
      font-size: 24px; }
    .main__box__right .main__box__right--right a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #3c3d41;
      font-size: 18px; }
      .main__box__right .main__box__right--right a .mdi-chevron-down {
        padding: 0 0 0 30px; }

.container {
  width: 100%; }
  .container .container__date {
    width: 100%;
    padding: 10px 10px 30px 10px; }
    .container .container__date p {
      display: inline-block;
      padding: 5px;
      font-size: 16px;
      line-height: 22px;
      color: #3C3D41;
      background: transparent; }
      .container .container__date p:first-child {
        padding-right: 50px; }
      .container .container__date p:nth-child(2) {
        padding-right: 20px; }
    .container .container__date .open-popup-link {
      background-color: #fff;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      border-radius: 20px;
      color: #6F7C82;
      border: 1px solid #cecece;
      font-size: 16px;
      background-color: #cecece;
      outline: none;
      transition: all 0.3s ease-in-out; }
      .container .container__date .open-popup-link:hover {
        color: #3c3d41;
        background: #cecece; }

.select {
  display: flex;
  margin: 0 20px 10px 20px;
  position: relative;
  font-size: 16px;
  align-items: center; }
  .select .nice-select {
    margin: 0 20px 0 0;
    color: #999;
    min-width: 210px; }
    .select .nice-select:after {
      height: 8px;
      width: 8px; }
    .select .nice-select .list {
      min-width: 207px; }
      .select .nice-select .list a {
        font-size: 16px; }
  .select .select-bg {
    background: transparent;
    border: none;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center; }
    .select .select-bg .current {
      color: #3c3d41;
      position: absolute;
      right: 40px; }
  .select .select__right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3c3d41;
    font-size: 16px; }

.table {
  padding: 20px; }
  .table .select_section {
    padding: 0 0 0 15px;
    border: 1px solid #dddddd; }
    .table .select_section table {
      border-collapse: collapse;
      width: 100%;
      padding: 15px; }
    .table .select_section th {
      color: #6F7C82; }
      .table .select_section th:nth-child(2) {
        padding: 15px 40px; }
    .table .select_section td {
      color: #333;
      border-right: 1px solid #dddddd; }
      .table .select_section td:nth-child(2) {
        text-align: right; }
    .table .select_section td, .table .select_section th {
      text-align: left;
      padding: 15px 40px;
      width: 85%;
      white-space: nowrap; }
    .table .select_section tr:nth-child(even) {
      background-color: #F7F7F7;
      color: #000; }

.loader {
  color: #fff;
  position: fixed;
  box-sizing: border-box;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 999999; }

.loader:after,
.loader:before {
  box-sizing: border-box; }

.loader.is-active {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 5s ease-in-out; }

@keyframes rotation {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(359deg); } }

@keyframes blink {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

.loader[data-text]:before {
  position: fixed;
  left: 0;
  top: 50%;
  color: currentColor;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 14px; }

.loader[data-text='']:before {
  content: 'Loading'; }

.loader[data-text]:not([data-text='']):before {
  content: attr(data-text); }

.loader[data-text][blink]:before {
  animation: blink 1s linear infinite alternate; }

.loader-default[data-text]:before {
  top: calc(50% - 63px); }

.loader-default:after {
  content: '';
  position: fixed;
  width: 48px;
  height: 48px;
  border: solid 8px #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: rotation 1s linear infinite; }

.loader-default[half]:after {
  border-right-color: transparent; }

.loader-double:after,
.loader-double:before {
  content: '';
  position: fixed;
  border-radius: 50%;
  border: solid 8px;
  animation: rotation 1s linear infinite; }

.loader-double:after {
  width: 48px;
  height: 48px;
  border-color: #fff;
  border-left-color: transparent;
  top: calc(50% - 24px);
  left: calc(50% - 24px); }

.loader-double:before {
  width: 64px;
  height: 64px;
  border-color: #eb974e;
  border-right-color: transparent;
  animation-duration: 2s;
  top: calc(50% - 32px);
  left: calc(50% - 32px); }

.loader-bar[data-text]:before {
  top: calc(50% - 40px);
  color: #fff; }

.loader-bar:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #4183d7 25%, #52b3d9 25%, #52b3d9 50%, #4183d7 50%, #4183d7 75%, #52b3d9 75%, #52b3d9);
  background-size: 20px 20px;
  box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.2);
  animation: moveBar 1.5s linear infinite; }

.loader-bar[rounded]:after {
  border-radius: 15px; }

@keyframes moveBar {
  from {
    background-position: 0 0; }
  to {
    background-position: 20px 20px; } }

@keyframes corners {
  6% {
    width: 60px;
    height: 15px; }
  25% {
    width: 15px;
    height: 15px;
    left: calc(100% - 15px);
    top: 0; }
  31% {
    height: 60px; }
  50% {
    height: 15px;
    top: calc(100% - 15px);
    left: calc(100% - 15px); }
  56% {
    width: 60px; }
  75% {
    width: 15px;
    left: 0;
    top: calc(100% - 15px); }
  81% {
    height: 60px; } }

.loader-border[data-text]:before {
  color: #fff; }

.loader-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff000;
  animation: corners 3s ease both infinite; }

.loader-ball:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  animation: kick 1s infinite alternate ease-in both; }

.loader-ball[shadow]:before {
  box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.5) inset; }

.loader-ball:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 45px;
  height: 20px;
  top: calc(50% + 10px);
  left: 50%;
  margin: 0 0 0 -22.5px;
  z-index: 0;
  animation: shadow 1s infinite alternate ease-out both; }

@keyframes shadow {
  0% {
    background-color: transparent;
    transform: scale(0); }
  40% {
    background-color: transparent;
    transform: scale(0); }
  95% {
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1); }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1); } }

@keyframes kick {
  0% {
    transform: translateY(-80px) scaleX(0.95); }
  90% {
    border-radius: 50%; }
  100% {
    transform: translateY(0) scaleX(1);
    border-radius: 50% 50% 20% 20%; } }

.loader-smartphone:after {
  content: '';
  color: #fff;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 120px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 130px;
  margin: -65px 0 0 -35px;
  border: solid 5px gold;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 gold inset;
  background: radial-gradient(circle at 50% 90%, rgba(0, 0, 0, 0.5) 6px, transparent 6px), linear-gradient(to top, gold 22px, transparent 22px), linear-gradient(to top, rgba(0, 0, 0, 0.5) 22px, rgba(0, 0, 0, 0.5) 100%);
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite; }

.loader-smartphone[data-screen='']:after {
  content: 'Loading'; }

.loader-smartphone:not([data-screen='']):after {
  content: attr(data-screen); }

@keyframes shake {
  5% {
    transform: translate3d(-1px, 0, 0); }
  10% {
    transform: translate3d(1px, 0, 0); }
  15% {
    transform: translate3d(-1px, 0, 0); }
  20% {
    transform: translate3d(1px, 0, 0); }
  25% {
    transform: translate3d(-1px, 0, 0); }
  30% {
    transform: translate3d(1px, 0, 0); }
  35% {
    transform: translate3d(-1px, 0, 0); }
  40% {
    transform: translate3d(1px, 0, 0); }
  45% {
    transform: translate3d(-1px, 0, 0); }
  50% {
    transform: translate3d(1px, 0, 0); }
  55% {
    transform: translate3d(-1px, 0, 0); } }

.loader-clock:before {
  content: '';
  position: fixed;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: -60px 0 0 -60px;
  background: linear-gradient(to bottom, transparent 50%, #f5f5f5 50%), linear-gradient(90deg, transparent 55px, #2ecc71 55px, #2ecc71 65px, transparent 65px), linear-gradient(to bottom, #f5f5f5 50%, #f5f5f5 50%);
  box-shadow: 0 0 0 10px #f5f5f5 inset, 0 0 0 5px #555, 0 0 0 10px #7b7b7b;
  animation: rotation infinite 2s linear; }

.loader-clock:after {
  content: '';
  position: fixed;
  width: 60px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -15px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  background: radial-gradient(circle at 14px 20px, #25a25a 10px, transparent 10px), radial-gradient(circle at 14px 20px, #1b7943 14px, transparent 14px), linear-gradient(180deg, transparent 15px, #2ecc71 15px, #2ecc71 25px, transparent 25px);
  animation: rotation infinite 24s linear;
  transform-origin: 15px center; }

.loader-curtain:before,
.loader-curtain:after {
  position: fixed;
  width: 100%;
  top: 50%;
  margin-top: -35px;
  font-size: 70px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  line-height: 1.2;
  content: 'Loading'; }

.loader-curtain:before {
  color: #666; }

.loader-curtain:after {
  color: #fff;
  height: 0;
  animation: curtain 1s linear infinite alternate both; }

.loader-curtain[curtain-text]:not([curtain-text='']):before,
.loader-curtain[curtain-text]:not([curtain-text='']):after {
  content: attr(curtain-text); }

.loader-curtain[brazilian]:before {
  color: #f1c40f; }

.loader-curtain[brazilian]:after {
  color: #2ecc71; }

.loader-curtain[colorful]:before {
  animation: maskColorful 2s linear infinite alternate both; }

.loader-curtain[colorful]:after {
  animation: curtain 1s linear infinite alternate both, maskColorful-front 2s 1s linear infinite alternate both;
  color: #000; }

@keyframes maskColorful {
  0% {
    color: #3498db; }
  49.5% {
    color: #3498db; }
  50.5% {
    color: #e74c3c; }
  100% {
    color: #e74c3c; } }

@keyframes maskColorful-front {
  0% {
    color: #2ecc71; }
  49.5% {
    color: #2ecc71; }
  50.5% {
    color: #f1c40f; }
  100% {
    color: #f1c40f; } }

@keyframes curtain {
  0% {
    height: 0; }
  100% {
    height: 84px; } }
