/* ----------------- Libraries
----------------------------------------------------------------------- */
//@import "compass";
@import "config/reset";
@import "config/variables";
/* ----------------- Helpers
----------------------------------------------------------------------- */
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";
/* ----------------- Base
----------------------------------------------------------------------- */
@import "base/layout";
@import "base/typography";
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
@import "layout/buttons";
@import "layout/forms";
@import "layout/icons";
/* ----------------- Partials
----------------------------------------------------------------------- */
@import "partials/footer";
@import "partials/header";
/* ----------------- scss main
----------------------------------------------------------------------- */

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}

body {
  font-family: 'lato-black', sans-serif;
  font-family: sans-serif;
  font-size: 14px;
}
:root {
  --main-color1: orange;
  --main-color2: #e5e5e5;
  --header-color: #bd1934;
}
.main {
  display: flex;
  //height: 100vh;
  .main__box__left {
    flex: 1;
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    z-index: 9;
    position: relative;
    .header {
      display: flex;
      background: var(--header-color);
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #bd1934;
      // same as a .header__item
      &__item {
        flex: 1;
        .header__item--link {
          a {
            display: block;
            img {
              width: 65px;
              height: 65px;
              background: #fff;
            }
          }
        }
        .header__item--create {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-decoration: none;
          color: #fff;
          margin: 0 10px 0 0;
          text-transform: uppercase;
          .mdi-plus {
            margin-right: 10px;
          }
          .mdi-menu-down {
            margin-left: 25px;
          }
          span {
            cursor: default;
          }
        }
      }
    }
    .nav {
      width: 100%;
      color: #959595;

      //background: springgreen;

      ul {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid #cecece;
          position: relative;
          flex-direction: column;
          a {
            display: flex;
            width: 100%;
            align-items: center;
            text-decoration: none;
            padding: 15px 0;
            color: #959595;
            cursor: pointer;
            justify-content: space-between;
            span {
              display: flex;
              align-items: center;
              .mdi-folder,
              .mdi-folder-plus {
                color: #959595;
                padding: 0 10px;
              }
            }
            span:first-letter {
              text-transform: uppercase;
            }
          }
          /////////////////////////////
          // active dropdown level 1
          a.active {
            background: #fff;
            border-bottom: 1px solid #cecece;
            > span {
              color: #005EBC;
              > .mdi-folder {
                color: #005EBC;
              }
            }
            span {
              transition: all 0.3s ease-in-out;
              > i {
                transition: all 0.3s ease-in-out;
                transform: rotate(180deg);
                color: #000;
              }
            }
          }
          .mdi-chevron-down {
            margin: 0 20px 0 0;
            cursor: pointer;
          }
          /////////////////////////////
          //dropdown level 1
          ul.sub {
            background: #fff;
            z-index: 10;
            width: 100%;
            display: none;

            //background: indianred;

            li {
              position: relative;
              a {
                color: #fff;
                padding: 15px;
                color: #3C3D41;
                .box {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  .box_item {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    i.mdi.mdi-label-outline.mdi-24px {
                      display: flex;
                      span {
                        padding: 0 0 0 10px;
                      }
                    }
                    .mdi.mdi-plus.mdi-24px {
                      display: flex;
                      span {
                      }
                    }
                    .box_item-left {
                      flex: 1;
                      display: flex;
                      .box_item-part {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column-reverse;
                        .icon {
                          -webkit-font-smoothing: antialiased;
                          // Also note that by using -webkit-font-smoothing: antialiased; in your CSS, you can get better results.
                        }
                        .icon__svg--sprite {
                          width: 24px;
                          height: 24px;
                          fill: #959595;
                        }
                        .icon-Pending_not-selected {
                        }
                        span {
                          padding: 0 0 5px 5px;
                        }
                        i.mdi.mdi-chevron-down.mdi-24px {
                            margin: 0 6px 0 0;
                            align-self: flex-end;
                        }
                        .not_active {
                            color: #959595;
                        }
                        &:nth-child(1) {
                          flex: 1 1 100%;
                          padding: 0 0 0 50px;
                          color: #959595;
                          display: flex;
                          justify-content: center;
                        }
                      }
                    }
                    svg.icon {
                      width: 24px;
                      height: 24px;
                      fill: #3C3D41;
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
            li:last-child {
              border-bottom: none;
            }
          }
          /////////////////////////////
          // dropdown level 2
          .sub {
            li {
              a {
                .box_item {
                    display: flex;
                    flex-direction: row-reverse;
                    span {
                        white-space: nowrap;
                        color: #3C3D41;
                    }

                  }
                  .box_item--right {
                    justify-content: flex-start !important;
                    .cmp_icon--arrow {
                      margin: 0 5px 0 0;
                      color: #959595;
                    }
                  }
              }
              /////////////////////////////
              // active dropdown 2 level
              a.active {
                background: #fff;
                border-bottom: 1px solid #cecece;
                .cmp_icon--rotate {
                  transition: all 0.3s ease-in-out;
                  color: #005EBC;
                  span {
                    color: #005EBC;
                  }
                }
                .box_item {
                  .box_item-left {
                    color: blue;
                    .box_item-part {
                      .icon__svg--sprite {
                        fill: #005EBC !important;
                      }
                      span {
                        color: #005EBC;
                        }
                        .mdi.mdi-chevron-down.mdi-24px.not_active {
                          transition: all 0.3s ease-in-out;
                          color: #000 !important;
                          transform: rotate(180deg);
                        }
                      }
                    }
                  }
                }
                /////////////////////////////
                // dropdown level 3
                .sub {
                  //background: pink;
                  li {
                    a {
                      .box {
                        .box_item {
                          span {
                            color: #959595;
                          }
                          .cmp_icon--space {
                            margin-left: 15px;
                            fill: #959595;
                          }
                          .box_item--right {
                            .cmp_icon--arrow {
                              color: red;
                            }
                          }
                        }
                      }
                    }
                    // dropdown level 3 active state
                    a.active {
                      //background: yellow;
                      .box {
                        .box_item {
                          span {
                            color: #000;
                          }
                          .icon__svg--sprite {
                            fill: #005EBC;
                            &:focus {
                              fill: red;
                            }
                          }
                          .cmp_icon--arrow {
                            transition: all 0.3s ease-in-out;
                            transform: rotate(180deg);
                            color: #000;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main__box__right {
    flex: 4;
    background: var(--main-color2);
    .main__box__right--right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      border-bottom: 1px solid #cecece;
      padding: 26px 0;
      h2 {
        color: #3C3D41;
        font-size: 24px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #3c3d41;
        font-size: 18px;
        .mdi-chevron-down {
           padding: 0 0 0 30px;
        }
      }
    }
  }
  // date field
  .container {
    width: 100%;
    .container__date {
      width: 100%;
      padding: 10px 10px 30px 10px;
      p {
        display: inline-block;
        padding: 5px;
        font-size : 16px;
        line-height : 22px;
        color : #3C3D41;
        &:first-child {
          padding-right: 50px;
        }
        &:nth-child(2) {
          padding-right: 20px;
        }
      }
      .open-popup-link {
        background-color: #fff;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        border-radius: 20px;
        color: #6F7C82;
        border: 1px solid #cecece;
        font-size: 16px;
        background-color: #cecece;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  // select field
  .select {
    display: flex;
    margin: 10px 20px;
    position: relative;
    font-size : 16px;
    align-items: center;
    // custom selected plagin niceSelect
    .nice-select {
        margin: 0 20px 0 0;
        color: #999;
        min-width: 210px;
        &:after {
          height: 8px;
          width: 8px;
      }
      .list {
        min-width: 207px;
        a {
          font-size : 16px;
        }
      }
    }
    .select-bg {
      background: transparent;
      border: none;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      .current {
        color: #3c3d41;
        position: absolute;
        right: 40px;
      }
    }
    .select__right {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #3c3d41;
      font-size : 16px;
    }
  }

  // tables
  .table {
    padding: 20px;
    .select_section {
      padding: 0 0 0 15px;
      border: 1px solid #dddddd;
      table {
        border-collapse: collapse;
        width: 100%;
        padding: 15px;
      }
      th {
        color: #6F7C82;
        &:nth-child(2) {
          padding: 15px 40px;
        }
      }
      td {
        color: #333;
        border-right: 1px solid #dddddd;
        &:nth-child(2) {
          text-align: right;
        }
      }
      td, th {
          text-align: left;
          padding: 15px 40px;
          width: 85%;          white-space: nowrap;
      }
      tr:nth-child(even) {
          background-color: #F7F7F7;
          color: #000;
      }
    }

}

// lader
.loader {
  color: #fff;
  position: fixed;
  box-sizing: border-box;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 999999
}
.loader:after,
.loader:before {
  box-sizing: border-box
}
.loader.is-active {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  transition: all 5s ease-in-out;
}
@keyframes rotation {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(359deg)
  }
}
@keyframes blink {
  from {
    opacity: .5
  }
  to {
    opacity: 1
  }
}
.loader[data-text]:before {
  position: fixed;
  left: 0;
  top: 50%;
  color: currentColor;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 14px
}
.loader[data-text='']:before {
  content: 'Loading'
}
.loader[data-text]:not([data-text='']):before {
  content: attr(data-text)
}
.loader[data-text][blink]:before {
  animation: blink 1s linear infinite alternate
}
.loader-default[data-text]:before {
  top: calc(50% - 63px)
}
.loader-default:after {
  content: '';
  position: fixed;
  width: 48px;
  height: 48px;
  border: solid 8px #fff;
  border-left-color: transparent;
  border-radius: 50%;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  animation: rotation 1s linear infinite
}

.loader-default[half]:after {
  border-right-color: transparent
}

.loader-double:after,
.loader-double:before {
  content: '';
  position: fixed;
  border-radius: 50%;
  border: solid 8px;
  animation: rotation 1s linear infinite
}

.loader-double:after {
  width: 48px;
  height: 48px;
  border-color: #fff;
  border-left-color: transparent;
  top: calc(50% - 24px);
  left: calc(50% - 24px)
}
.loader-double:before {
  width: 64px;
  height: 64px;
  border-color: #eb974e;
  border-right-color: transparent;
  animation-duration: 2s;
  top: calc(50% - 32px);
  left: calc(50% - 32px)
}
.loader-bar[data-text]:before {
  top: calc(50% - 40px);
  color: #fff
}
.loader-bar:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 20px;
  transform: translate(-50%, -50%);
  background: linear-gradient(-45deg, #4183d7 25%, #52b3d9 25%, #52b3d9 50%, #4183d7 50%, #4183d7 75%, #52b3d9 75%, #52b3d9);
  background-size: 20px 20px;
  box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2), 0 0 0 5px rgba(0, 0, 0, 0.2);
  animation: moveBar 1.5s linear infinite
}
.loader-bar[rounded]:after {
  border-radius: 15px
}
@keyframes moveBar {
  from {
    background-position: 0 0
  }
  to {
    background-position: 20px 20px
  }
}
@keyframes corners {
  6% {
    width: 60px;
    height: 15px
  }
  25% {
    width: 15px;
    height: 15px;
    left: calc(100% - 15px);
    top: 0
  }
  31% {
    height: 60px
  }
  50% {
    height: 15px;
    top: calc(100% - 15px);
    left: calc(100% - 15px)
  }
  56% {
    width: 60px
  }
  75% {
    width: 15px;
    left: 0;
    top: calc(100% - 15px)
  }
  81% {
    height: 60px
  }
}
.loader-border[data-text]:before {
  color: #fff
}
.loader-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff000;
  animation: corners 3s ease both infinite
}
.loader-ball:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1;
  animation: kick 1s infinite alternate ease-in both
}
.loader-ball[shadow]:before {
  box-shadow: -5px -5px 10px 0 rgba(0, 0, 0, 0.5) inset
}
.loader-ball:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 45px;
  height: 20px;
  top: calc(50% + 10px);
  left: 50%;
  margin: 0 0 0 -22.5px;
  z-index: 0;
  animation: shadow 1s infinite alternate ease-out both
}
@keyframes shadow {
  0% {
    background-color: transparent;
    transform: scale(0)
  }
  40% {
    background-color: transparent;
    transform: scale(0)
  }
  95% {
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1)
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
    transform: scale(1)
  }
}
@keyframes kick {
  0% {
    transform: translateY(-80px) scaleX(0.95)
  }
  90% {
    border-radius: 50%
  }
  100% {
    transform: translateY(0) scaleX(1);
    border-radius: 50% 50% 20% 20%
  }
}

.loader-smartphone:after {
  content: '';
  color: #fff;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 120px;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 70px;
  height: 130px;
  margin: -65px 0 0 -35px;
  border: solid 5px gold;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 gold inset;
  background: radial-gradient(circle at 50% 90%, rgba(0, 0, 0, 0.5) 6px, transparent 6px), linear-gradient(to top, gold 22px, transparent 22px), linear-gradient(to top, rgba(0, 0, 0, 0.5) 22px, rgba(0, 0, 0, 0.5) 100%);
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite
}

.loader-smartphone[data-screen='']:after {
  content: 'Loading'
}

.loader-smartphone:not([data-screen='']):after {
  content: attr(data-screen)
}

@keyframes shake {
  5% {
    transform: translate3d(-1px, 0, 0)
  }
  10% {
    transform: translate3d(1px, 0, 0)
  }
  15% {
    transform: translate3d(-1px, 0, 0)
  }
  20% {
    transform: translate3d(1px, 0, 0)
  }
  25% {
    transform: translate3d(-1px, 0, 0)
  }
  30% {
    transform: translate3d(1px, 0, 0)
  }
  35% {
    transform: translate3d(-1px, 0, 0)
  }
  40% {
    transform: translate3d(1px, 0, 0)
  }
  45% {
    transform: translate3d(-1px, 0, 0)
  }
  50% {
    transform: translate3d(1px, 0, 0)
  }
  55% {
    transform: translate3d(-1px, 0, 0)
  }
}

.loader-clock:before {
  content: '';
  position: fixed;
  width: 120px;
  height: 120px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin: -60px 0 0 -60px;
  background: linear-gradient(to bottom, transparent 50%, #f5f5f5 50%), linear-gradient(90deg, transparent 55px, #2ecc71 55px, #2ecc71 65px, transparent 65px), linear-gradient(to bottom, #f5f5f5 50%, #f5f5f5 50%);
  box-shadow: 0 0 0 10px #f5f5f5 inset, 0 0 0 5px #555, 0 0 0 10px #7b7b7b;
  animation: rotation infinite 2s linear
}

.loader-clock:after {
  content: '';
  position: fixed;
  width: 60px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -15px;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  background: radial-gradient(circle at 14px 20px, #25a25a 10px, transparent 10px), radial-gradient(circle at 14px 20px, #1b7943 14px, transparent 14px), linear-gradient(180deg, transparent 15px, #2ecc71 15px, #2ecc71 25px, transparent 25px);
  animation: rotation infinite 24s linear;
  transform-origin: 15px center
}

.loader-curtain:before,
.loader-curtain:after {
  position: fixed;
  width: 100%;
  top: 50%;
  margin-top: -35px;
  font-size: 70px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  line-height: 1.2;
  content: 'Loading'
}

.loader-curtain:before {
  color: #666
}

.loader-curtain:after {
  color: #fff;
  height: 0;
  animation: curtain 1s linear infinite alternate both
}

.loader-curtain[curtain-text]:not([curtain-text='']):before,
.loader-curtain[curtain-text]:not([curtain-text='']):after {
  content: attr(curtain-text)
}

.loader-curtain[brazilian]:before {
  color: #f1c40f
}

.loader-curtain[brazilian]:after {
  color: #2ecc71
}

.loader-curtain[colorful]:before {
  animation: maskColorful 2s linear infinite alternate both
}

.loader-curtain[colorful]:after {
  animation: curtain 1s linear infinite alternate both, maskColorful-front 2s 1s linear infinite alternate both;
  color: #000
}

@keyframes maskColorful {
  0% {
    color: #3498db
  }
  49.5% {
    color: #3498db
  }
  50.5% {
    color: #e74c3c
  }
  100% {
    color: #e74c3c
  }
}

@keyframes maskColorful-front {
  0% {
    color: #2ecc71
  }
  49.5% {
    color: #2ecc71
  }
  50.5% {
    color: #f1c40f
  }
  100% {
    color: #f1c40f
  }
}
@keyframes curtain {
  0% {
    height: 0
  }
  100% {
    height: 84px
  }
}







// a.active {
//   background: #fff;
//   border-bottom: 1px solid #cecece;
//   .cmp_icon--rotate {
//     transition: all 0.3s ease-in-out;
//     //transform: rotate(180deg);
//     color: red;
//     span {
//       color: red;
//     }
//   }
//   .box_item {
//     color: red;
//     .box_item-left {
//       color: red;
//       .box_item-part {
//         .icon__svg--sprite {
//           stroke: red !important;
//         }
//         span {
//           color: red;
//           }
//         }
//         .not-active {
//           color: red;
//         }
//       }
//     }
//   }
// }
