/* ----------------- Libraries
----------------------------------------------------------------------- */ 
//@import "compass";
@import "config/reset";
@import "config/variables";
/* ----------------- Helpers
----------------------------------------------------------------------- */
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";
/* ----------------- Base
----------------------------------------------------------------------- */
@import "base/layout";
@import "base/typography";
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
@import "layout/buttons";
@import "layout/forms";
@import "layout/icons";
/* ----------------- Partials
----------------------------------------------------------------------- */
@import "partials/footer";
@import "partials/header";
/* ----------------- scss main
----------------------------------------------------------------------- */
body {
    background: indianred;
    p {
        padding: 40px;
        color: hotpink;
    }
}
