/* ----------------- Libraries
----------------------------------------------------------------------- */
//@import "compass";
@import "config/reset";
@import "config/variables";
/* ----------------- Helpers
----------------------------------------------------------------------- */
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";
/* ----------------- Base
----------------------------------------------------------------------- */
@import "base/layout";
@import "base/typography";
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
@import "layout/buttons";
@import "layout/forms";
@import "layout/icons";
/* ----------------- Partials
----------------------------------------------------------------------- */
@import "partials/footer";
@import "partials/header";
/* ----------------- scss main
----------------------------------------------------------------------- */
body {
  font-family: 'lato-black', sans-serif;
  font-family: sans-serif;
  font-size: 14px;
}
:root {
  --main-color1: orange;
  --main-color2: #e5e5e5;
  --header-color: #bd1934;
}
.main {
  display: flex;
  //height: 100vh;
  .main__box__left {
    flex: 1;
    background-color: #f5f5f5;
    -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.65);
    z-index: 9;
    position: relative;
    .header {
      display: flex;
      background: var(--header-color);
      justify-content: center;
      align-items: center;
      padding: 5px;
      background: #bd1934;
      &__item { // same as a .header__item
        flex: 1;
        .header__item--link {
          a {
            display: block;
            img {
              width: 65px;
              height: 65px;
              background: #fff;
            }
          }
        }
        .header__item--create {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-decoration: none;
          color: #fff;
          margin: 0 10px 0 0;
          text-transform: uppercase;
          .mdi-plus {
            margin-right: 10px;
          }
          .mdi-menu-down {
            margin-left: 25px;
          }
          span {
            cursor: default;
          }
        }
      }
    }
    .nav {
      width: 100%;
      color: #959595;
      ul {
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          border-bottom: 1px solid #cecece;
          position: relative;
          flex-direction: column;
          a {
            display: flex;
            width: 100%;
            align-items: center;
            text-decoration: none;
            padding: 15px 0;
            color: #959595;
            cursor: pointer;
            justify-content: space-between;
            span {
              display: flex;
              align-items: center;
              .mdi-folder,
              .mdi-folder-plus {
                color: #959595;
                padding: 0 10px;
              }
            }
            span:first-letter {
              text-transform: uppercase;
            }
          }
          //in progress
          a.active {
            background: #fff;
            border-bottom: 1px solid #cecece;
            > span {
              color: #005EBC;
              > .mdi-folder {
                color: #005EBC;
              }
            }
            span {
              transition: all 0.3s ease-in-out;
              > i {
                transition: all 0.3s ease-in-out;
                transform: rotate(180deg);
                color: #000;
              }
            }
          }
          .mdi-chevron-down {
            margin: 0 20px 0 0;
            cursor: pointer;
          }
          // sab nav first level
          ul.sub {
            background: #fff;
            z-index: 10;
            width: 100%;
            display: none;
            li {
              position: relative;
              a {
                //display: block;
                color: #fff;
                padding: 15px;
                color: #3C3D41;
                .box {
                  display: flex;
                  width: 100%;
                  justify-content: space-between;
                  .box_item {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    i.mdi.mdi-label-outline.mdi-24px {
                      display: flex;
                      span {
                        padding: 0 0 0 10px;
                      }
                    }
                    .mdi.mdi-plus.mdi-24px {
                      display: flex;
                      span {
                        padding: 0 0 0 10px;
                      }
                    }
                    .box_item-left {
                      flex: 1;
                      display: flex;
                      .box_item-part {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column-reverse;
                        i.mdi.mdi-check-circle-outline.mdi-24px {
                          margin: 5px 0 0 0;
                        }
                        i.mdi.mdi-chevron-down.mdi-24px {
                            margin: 0 6px 0 0;
                          align-self: flex-end;
                        }
                        &:nth-child(1) {
                          flex: 1 1 100%;
                          padding: 0 0 0 50px;
                        }
                      }
                    }
                  }
                }
              }
            }
            li:last-child {
              border-bottom: none;
            }
          }
          ul.sub.open {
            display: block;
          }
        }
      }
    }
  }
  .main__box__right {
    flex: 4;
    background: var(--main-color2);
    .main__box__right--right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      border-bottom: 1px solid #cecece;
      padding: 26px 0;
      h2 {
        color: #3C3D41;
        font-size: 17px;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #3c3d41;
        font-size: 17px;
        .mdi-chevron-down {
           padding: 0 0 0 15px;
        }
      }
    }
  }
  // data field
  .container {
    width: 100%;
    .container__date {
      width: 100%;
      padding: 10px 10px 30px 10px;
      p {
        display: inline-block;
        padding: 5px;
        color: #3C3D41;
        &:first-child {
          padding-right: 30px;
        }
        &:nth-child(2) {
          padding-right: 20px;
        }
      }
      a {
        background-color: #fff;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        border-radius: 20px;
        color: #6F7C82;
        border: 1px solid #cecece;
      }
    }
  }
  // select field
  .select {
    display: flex;
    margin: 10px 20px;
    position: relative;
    .select__section {
      width: 190px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      margin: 0 10px 0 0;
      background: transparent;
      select {
        border: 1px solid #ccc;
        font-size: 14px;
        height: 48px;
        width: 205px;
        outline: none;
        position: relative;
        z-index: 2;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 10px;
        option {
          background: #f5f5f5;
          &:hover {
          }
        }
        option[value="NS"] {
          padding: 20px;
        }
      }
      .chevron {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        z-index: 11;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-right: 1px solid #ccc;
      }
      &:after {
        // content: "";
        // position: absolute;
        // height: 50px;
        // width: 50px;
        // background: transparent;
        // z-index: 10;
        // right: 0;
        // top: 0;
        // z-index: 9;
        // background-image: url("../img/Chevron.svg");
        // background-repeat: no-repeat;
        // background-position: center center;
      }
    }
    a {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #3c3d41;
      .cmp_icon {
        padding: 0 0 0 15px;
      }
    }
  }

  // tables
  .table {
    padding: 20px;
    .select_section {
      padding: 15px;
      border: 1px solid #dddddd;
      table {
        border-collapse: collapse;
        width: 100%;
        padding: 15px;
      }
      th {
        color: #6F7C82;
      }
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 15px 5px;
          width: 85%;
      }
      tr:nth-child(even) {
          background-color: #F7F7F7;
          color: #000;
      }
    }
  }

}
