<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />

    <link rel="stylesheet" href="css/clndr.css">

    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />

    <link rel="stylesheet" href="css/nice-select.css" />

    <link href="node_modules/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="icon" type="img/ico" href="favicon.ico">

</head>

<body>

  <!-- Popup itself -->
  <div id="test-popup" class="white-popup mfp-hide">

      <!-- clndr calendar plagin -->
      <!-- https://github.com/kylestetz/CLNDR/tree/master/demo -->
      <div class="container">
          <div class="cal1"></div>
          <div class="cal2">
          <script type="text/template" id="template-calendar">
              <div class="clndr-controls">
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="month"><%= intervalStart.format('M/DD') + ' &mdash; ' + intervalEnd.format('M/DD') %></div>
                  <div class="clndr-next-button">&rsaquo;</div>
              </div>
              <div class="clndr-grid">
                  <div class="days-of-the-week">
                  <% _.each(daysOfTheWeek, function(day) { %>
                      <div class="header-day"><%= day %></div>
                  <% }); %>
                      <div class="days">
                      <% _.each(days, function(day) { %>
                          <div class="<%= day.classes %>"><%= day.day %></div>
                      <% }); %>
                      </div>
                  </div>
              </div>
              <div class="clndr-today-button">Today</div>
          </script>
          </div>
          <div class="cal3">
          <script type="text/template" id="template-calendar-months">
              <div class="clndr-controls top">
                  <div class="clndr-previous-button">&lsaquo;</div>
                  <div class="clndr-next-button">&rsaquo;</div>
              </div>
              <div class="clearfix">
              <% _.each(months, function(cal) { %>
                  <div class="cal">
                      <div class="clndr-controls">
                          <div class="month"><%= cal.month.format('MMMM') %></div>
                      </div>
                      <div class="clndr-grid">
                          <div class="days-of-the-week">
                          <% _.each(daysOfTheWeek, function(day) { %>
                              <div class="header-day"><%= day %></div>
                          <% }); %>
                              <div class="days">
                              <% _.each(cal.days, function(day) { %>
                                  <div class="<%= day.classes %>"><%= day.day %></div>
                              <% }); %>
                              </div>
                          </div>
                      </div>
                  </div>
              <% }); %>
              </div>
              <div class="clndr-today-button">Today</div>
          </script>
          </div>
      </div>
  </div>


<!-- https://github.com/raphaelfabeni/css-loader -->
<!-- Loader -->
<div class="loader loader-default"></div>
<!-- Loader active -->
<div class="loader loader-default is-active" data-text blink></div>

  <div class="main">
    <div class="main__box__left">
      <header class="header">
          <div class="header__item">
            <div class="header__item--link">
              <a href="javascript;:">
                <img src="img/logo.svg" alt="cmp_logo">
                <!-- <img src="img/logo_gptw.png" alt="cmp_logo"> -->
              </a>
            </div>
          </div>
          <div class="header__item">
              <a class="header__item--create" href="javascript:;">
                <i class="mdi mdi-plus mdi-24px cmp_icon"></i>
                    <span>create</span>
                <i class="mdi mdi-menu-down mdi-24px cmp_icon"></i>
              </a>
          </div>
      </header>
      <nav class="nav">
          <ul>
            <li>
              <a href="javascript:;">
                <span>
                  <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                  <span>Survey 1</span>
                </span>
                <span>
                  <i class="mdi mdi-chevron-down mdi-24px cmp_icon"></i>
                </span>
              </a>
              <!-- dropdown level 1 -->
              <ul class="sub">
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <i class="mdi mdi-label-outline mdi-24px cmp_icon--rotate">
                          <span>Servey 1 level 1</span>
                        </i>
                      </div>
                      <div class="box_item">
                        <div class="box_item-left">
                          <div class="box_item-part">

                              <svg class="icon icon-Complete_not-selected icon__svg--sprite">
                                <use xlink:href="svg/svg_sprites.svg#icon-Complete_not-selected"></use>
                              </svg>
                              <span>Complite</span>
                          </div>
                          <div class="box_item-part">
                            <i class="mdi mdi-chevron-down mdi-24px not_active"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
              <!-- =============== dropdown level 2 ============== -->
              <ul class="sub">
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                      <span>Assessment Design level 2</span>
                        <svg class="icon icon-Assessment-design_not-selected icon__svg--sprite">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/svg_sprites.svg#icon-Assessment-design_not-selected">
                          </use>
                        </svg>
                      </div>
                      <div class="box_item box_item--right">
                        <i class="mdi mdi-chevron-down mdi-24px not_active cmp_icon--arrow"></i>
                      </div>
                    </div>
                  </a>

                    <!-- =============== dropdown level 3 ============== -->
                    <ul class="sub">
                      <li>
                        <a href="javascript:;">
                          <div class="box">
                            <div class="box_item">
                            <span>Participation Monitoring level 3</span>
                              <svg class="icon icon-email-outline cmp_icon--space">
                                <use xlink:href="svg/svg_sprites.svg#icon-email-outline"></use>
                              </svg>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;">
                          <div class="box">
                            <div class="box_item">
                                <span>E-Emails & Campaigns level 3</span>
                                <svg class="icon icon-email-outline cmp_icon--space">
                                  <use xlink:href="svg/svg_sprites.svg#icon-email-outline"></use>
                                </svg>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                          <span>Assessment Monitoring level 2</span>
                          <svg class="icon icon-Assessment-monitoring_not-selected icon__svg--sprite">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/svg_sprites.svg#icon-Assessment-monitoring_not-selected">
                            </use>
                          </svg>
                      </div>
                      <div class="box_item box_item--right">
                        <i class="mdi mdi-chevron-down mdi-24px not_active cmp_icon--arrow"></i>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <span>Results level 1</span>
                        <svg class="icon icon-Results_not-selected icon__svg--sprite">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="svg/svg_sprites.svg#icon-Results_not-selected">
                          </use>
                        </svg>
                      </div>
                      <div class="box_item box_item--right">
                        <i class="mdi mdi-chevron-down mdi-24px not_active cmp_icon--arrow"></i>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <!-- dropdown level 1 -->
              </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <i class="mdi mdi-label-outline mdi-24px cmp_icon cmp_icon--rotate">
                          <span>Survey 2 level 1</span>
                        </i>
                      </div>
                      <div class="box_item">
                        <div class="box_item-left">

                          <div class="box_item-part">
                             <svg class="icon icon-In-progress_not-selected icon__svg--sprite">
                              <use xlink:href="svg/svg_sprites.svg#icon-In-progress_not-selected"></use>
                             </svg>
                             <span>In progress</span>
                          </div>

                          <div class="box_item-part">
                            <i class="mdi mdi-chevron-down mdi-24px not_active"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <i class="mdi mdi-label-outline mdi-24px cmp_icon cmp_icon--rotate">
                          <span>Survey 3 level 1</span>
                        </i>
                      </div>
                      <div class="box_item">
                        <div class="box_item-left">

                          <div class="box_item-part">
                            <svg class="icon icon-Pending_not-selected icon__svg--sprite">
                              <use xlink:href="svg/svg_sprites.svg#icon-Pending_not-selected"></use>
                            </svg>
                            <span>Pending</span>
                          </div>

                          <div class="box_item-part">
                            <i class="mdi mdi-chevron-down mdi-24px not_active cmp_icon--rotate"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <i class="mdi mdi-label-outline mdi-24px cmp_icon cmp_icon--rotate">
                          <span>Survey 4 level 1</span>
                        </i>
                      </div>
                      <div class="box_item">
                        <div class="box_item-left">

                          <div class="box_item-part">
                            <svg class="icon icon-Draft_not-selected icon__svg--sprite">
                              <use xlink:href="svg/svg_sprites.svg#icon-Draft_not-selected"></use>
                            </svg>
                            <span>Draft</span>
                          </div>

                          <div class="box_item-part">
                            <i class="mdi mdi-chevron-down mdi-24px not_active"></i>
                          </div>

                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <div class="box">
                      <div class="box_item">
                        <i class="mdi mdi-plus mdi-24px cmp_icon cmp_icon--rotate">
                          <span>Create new Survey</span>
                        </i>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
              <li>
                <a href="javascript:;">
                  <span>
                    <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                    <span>project 2</span>
                  </span>
                  <span>
                    <i class="mdi mdi-chevron-down mdi-24px"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <span>
                    <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                    <span>project 3</span>
                  </span>
                  <span>
                    <i class="mdi mdi-chevron-down mdi-24px cmp_icon"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <span>
                    <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                    <span>project 4</span>
                  </span>
                  <span>
                    <i class="mdi mdi-chevron-down mdi-24px"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <span>
                    <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                    <span>project 5</span>
                  </span>
                  <span>
                    <i class="mdi mdi-chevron-down mdi-24px cmp_icon"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <span>
                    <i class="mdi mdi-folder mdi-24px cmp_icon"></i>
                    <span>project 6</span>
                  </span>
                  <span>
                    <i class="mdi mdi-chevron-down mdi-24px cmp_icon"></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <span><i class="mdi mdi-folder-plus mdi-24px cmp_icon"></i>
                    <span>Create new culture project</span>
                  </span>
                </a>
              </li>
          </ul>
      </nav>
    </div>

    <div class="main__box__right">
      <div class="main__box__right--right">
        <h2>Name?</h2>
        <a href="javascript">email@htecgroup.com <i class="mdi mdi-chevron-down mdi-24px cmp_icon"></i></a>
      </div>
      <div class="container">
        <div class="container__date">
          <p><span>Start date:</span> Monday, November 14</p>
          <p><span>End date:</span>Friday, December 10</p>
          <a href="#test-popup" class="open-popup-link">
            Change end date
        </div/>
          </a>
      </div>

      <div class="select">
        <!-- custom select plugin niceselect -->
        <select>
          <option data-display="City offices">City offices</option>
          <option value="1">Some option 2</option>
          <option value="2">Some option 3</option>
          <option value="3">Some option 4</option>
          <option value="4">Some option 5</option>
        </select>

        <select>
          <option data-display="Choose demographic">Choose demographic</option>
          <option value="1">Some option 2</option>
          <option value="2">Some option 3</option>
          <option value="3">Some option 4</option>
          <option value="4">Some option 5</option>
        </select>

        <select>
          <option data-display="Choose demographic">Choose demographic</option>
          <option value="1">Some option 2</option>
          <option value="2">Some option 3</option>
          <option value="3">Some option 4</option>
          <option value="4">Some option 5</option>
        </select>

          <div class="select__right">
            <select class="select-bg">
              <option data-display="Export">Export</option>
              <option value="1">Some option 2</option>
              <option value="2">Some option 3</option>
              <option value="3">Some option 4</option>
              <option value="4">Some option 5</option>
            </select>
          </div>
      </div>
      <div class="table">
        <div class="select_section">
          <table>
            <tr>
              <th>Demographic</th>
              <th>Number of responsive</th>
            </tr>
            <tr>
              <td>Novi Sad</td>
              <td>3.982</td>
            </tr>
            <tr>
              <td>San Francisko</td>
              <td>6.789</td>
            </tr>
            <tr>
              <td>San Antonio</td>
              <td>2.333</td>
            </tr>
            <tr>
              <td>Novi Becej</td>
              <td>4.123</td>
            </tr>
            <tr>
              <td>Kikinda</td>
              <td>5.369</td>
            </tr>
            <tr>
              <td>Belgrade</td>
              <td>5.011</td>
            </tr>
            <tr>
              <td>Zrenjanin</td>
              <td>3.023</td>
            </tr>
            <tr>
              <td>Subotica</td>
              <td>2.024</td>
            </tr>
            <tr>
              <td>Osjek</td>
              <td>1.234</td>
            </tr>
            <tr>
              <td>Baltimor</td>
              <td>3.753</td>
            </tr>
            <tr>
              <td>Boston</td>
              <td>3.589</td>
            </tr>
            <tr>
              <td>Milano</td>
              <td>3.083</td>
            </tr>
            <tr>
              <td>Rim</td>
              <td>4.456</td>
            </tr>
            <tr>
              <td>Amsterdam</td>
              <td>3.666</td>
            </tr>
            <tr>
              <td>Sremska Mitrovica</td>
              <td>2.159</td>
            </tr>
            <tr>
              <td>Tokio</td>
              <td>3.666</td>
            </tr>
            <tr>
              <td>Novi Knezevac</td>
              <td>2.159</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  window.jQuery || document.write("<script src='node_modules/jQuery/jquery.min.js'><\/script>");
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script src="js/niceSelect.jquery.js"></script>





<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="js/clndr.js"></script>
<script src="js/demo.js"></script>





<script src="js/main.js"></script>
</body>
</html>
