
@font-face {
  font-family: 'Whitney-Book';
  src: url('Whitney-Book.eot?#iefix') format('embedded-opentype'),  url('Whitney-Book.woff') format('woff'), url('Whitney-Book.ttf')  format('truetype'), url('Whitney-Book.svg#Whitney-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
